{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>feedback Page</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
  <style>
        body{
            background-color: rgb(102, 105, 155);
        }
     .a{
           text-align: center; 
           font-size: 42px;
           font-weight: bold;
           text-decoration: underline;
           color: rgb(66, 34, 11);
        }
    .b{
        text-align: center;
        font-size: 32px;
        
    }
    
  </style>
<body>
    <h1 class ="a">Thank you for your feedback!!</h1>
    <p class ="b">Your message has been received.</p>
</body>
</html>
